* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.box {
    border: solid 1px black;
    height: 5px;
    width: 5px;
}

.btn {
    height: 70px;
    width: 180px;
    font-size: 24px;
    margin-bottom: 20px;
}